.icon-links {
    display: flex;
    gap: 2rem;
    background-color: #EDF2F7;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
    &__item {
      border-radius: 50%;
      display: flex;

      &:hover .icon-links__icon {
        opacity: 1;
        transform: scale(1.1);
      }
    }
    &__icon {
      width: 1.5rem;
      height: 1.5rem;
      color: #1A202C;
      opacity: 0.5;
      transition: opacity 200ms, transform 200ms;
    }
  }
  