.projects {
  max-width: 1240px;
  margin: auto;
  margin-top: 15rem;
  @include media("large") {
    margin-top: 10rem;
  }
  @include media("medium") {
    margin-top: 5rem;
  }
  .title {
    h2 {
      color: black;
      text-align: center;
      font-size: clamp(1.875rem, 2.5vw, 3.125rem);
      font-weight: $font-bold;
    }
    margin-bottom: 4rem;
  }
  &-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  display: flex;
  flex-direction: column;
}

.project-box {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  // border: 1px solid var(--darkerlight-gray-background);
  border-radius: 1rem;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: #f1f1f1;

  @include media("extra-large") {
    padding: 1rem;
  }
  @include media("medium") {
    flex-direction: column;
    width: 100%;
  }
}

.project {
  &-title {
    font-size: 1.5rem;
  }

  &-description {
    font-size: 1rem;
    font-weight: $font-regular;
    color: var(--medium-gray-background);
    line-height: 1.4rem;
  }
  &-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.5rem;
    @include media("medium") {
      order: 2;
    }
    &-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 95%;
      @include media("medium") {
        margin-bottom: 1rem;
      }
    }
  }
  &-tech {
    margin-top: 0.5rem;
    gap: 1rem;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    li {
      padding: 0.3rem 0.5rem;
      border-radius: 0.3rem;
      font-weight: $font-regular;
      font-size: 0.8rem;
      background: #dddddd;
      cursor: pointer;
    }
  }

  &-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    a {
      color: var(--medium-gray-background);
      font-size: 1.2rem;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: black;
        transform: translateY(-9px);
      }
    }
  }
  img {
    @include media("medium") {
      width: 100%;
      height: auto;
    }
  }
}

.img-container {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;
  min-height: 300px;
  width: 100%;
  max-width: 500px;
  position: relative;
  &-box {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
  }
  &-mentor {
    font-size: 12px;
    color: white;
    background-color: #4146ff;
    z-index: 2;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
  }
  &-new {
    font-size: 12px;
    color: white;
    background-color: rgb(51, 180, 83);
    z-index: 2;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
  }
  @include media("medium") {
    max-width: none;
  }

  &:hover {
    .overlay {
      background: rgba(0, 0, 0, 0.7);
      &-icon {
        display: inline-block;
      }
    }
  }

  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    &-icon {
      font-size: 2rem;
      color: white;
      display: none;
      transition: all 0.2s ease;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
.link-img {
  max-width: 100%;
  min-height: 100%;
  @include media("medium") {
    min-height: inherit;
  }
}
