@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --light-gray-background: #f3f4f6;
  --darkerlight-gray-background: #e2e2e2;
  --medium-gray-background: #797a7b;
  --darker-gray-background: #282828;
  --openclassrooms-background: #7451eb;

  --tsm: 13px;
  --tsm1: 14px;
  --tsm2: 15px;
  --tbase: 16px;
  --tlarge: 18px;
  --tlarge2: 22px;
  --txlarge: 25px;
  --txxlarge: 32px;
  --tgiant: clamp(30px, 10vw, 60px);
}

// Définition des tailles d'écran
$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "extra-large": 1200px,
);

// Mixin pour les media queries
@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "La taille d'écran '#{ $breakpoint }' n'est pas définie. Essayez d'utiliser l'une de ces tailles : #{ map-keys($breakpoints) }.";
  }
}

// Import de la police depuis Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
// Définition des variables pour la famille de police et les poids
$font-inter: "Poppins", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
